*{
    margin: 0;
    padding: 0;
}


.ahsan{
    display: flex;
}
.sub{
    /* background:; */
    height: 100px;
    width: 60px;
}
.sub1{
    background: linear-gradient(brown);
    height: 100px;
    width: 50px;
}
.sub2{
    background: linear-gradient(yellow);
    height: 100px;
    width: 40px;
}
.sub3{
    background: linear-gradient(gray);
    height: 100px;
    width: 20px;
}
.sub4{
    background: linear-gradient(blue);
    height: 100px;
    width: 30px;
}
.navbar{
    display: flex;
    background-color: red;
}
.logo{
    height: 45px;
    width: 30px;
}
.ul{
    display: flex;
    margin-left: auto;
    list-style: none;
    align-items: center;
}
.ul>li>button{
    border: none;
    background: none;
    margin-right: 5px;
}